
body{
    background: #d2917b; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #d2917b 0%, #9f6359 48%, #734748 66%, #2b1c2f 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #d2917b 0%,#9f6359 48%,#734748 66%,#2b1c2f 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #d2917b 0%,#9f6359 48%,#734748 66%,#2b1c2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2917b', endColorstr='#2b1c2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body,
html {
    height: 100%;
}
body {

    margin: 0 auto;
    font: 1em/1.3em Montserrat, Helvetica, sans-serif;
}
.clearfix {
    clear: both;
}
.container {
    height: 100%;
    width: 100%;
    text-align: center;
}
h1 {
    margin: 40px 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #888;
}
a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
.menu-btn {
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #888;
    display: block;
    position: relative;
    padding: 30px;
}

.a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 3px 0 0 #00ae94;
    box-shadow: 0 3px 0 0 #00ae94;
    background-color: #00cdae;
}

.a:hover {
    -webkit-box-shadow: 0 3px 0 0 #00cdae;
    box-shadow: 0 3px 0 0 #00cdae;
    background-color: #00ae94;
}

.b {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 3px 0 0 #ff4758;
    box-shadow: 0 3px 0 0 #e50009;
    background-color: #ff5566;
}

.b:hover {
    -webkit-box-shadow: 0 3px 0 0 #ff5566;
    box-shadow: 0 3px 0 0 #ff5566;
    background-color: #e54753;
}

.c {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 3px 0 0 #e5b61a;
    box-shadow: 0 3px 0 0 #c3a100;
    background-color: #e5b61a;
}

.c:hover {
    -webkit-box-shadow: 0 3px 0 0 #c3a100;
    box-shadow: 0 3px 0 0 #e5b61a;
    background-color: #c3a100;
}

.d {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 3px 0 0 #0096e5;
    box-shadow: 0 3px 0 0 #116be5;
    background-color: #0096e5;
}

.d:hover {
    -webkit-box-shadow: 0 3px 0 0 #0096e5;
    box-shadow: 0 3px 0 0 #0096e5;
    background-color: #116be5;
}

.e {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 3px 0 0 #211028;
    box-shadow: 0 3px 0 0 #211028;
    background-color: #462255;
}

.e:hover {
    color: white;
    -webkit-box-shadow: 0 3px 0 0 #462255;
    box-shadow: 0 3px 0 0 #462255;
    background-color: #211028;
}

td a {
    color: #000068;
}

.modal-body #full-info-p {
    word-wrap: break-word;
}

@media only screen and (max-width: 770px) {
    .menu-btn {
        margin-right: 0;
        margin-left: 0;
    }
}

.table-responsive {
   margin-right: 10px;
    margin-left: 10px;
}

.aa {
    text-align: center;
    width: 100%;
    display: block;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 10px;
    margin: 15px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.aa:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    background: rgba(170, 170, 170, 0);
    display: flex;
    align-items: center;
}

.white-txt {
    color: #fff;
}

.table-color {
    background: #fff;
}

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

/*tr:nth-child(even) {*/
    /*background-color: rgba(0, 0, 0, 0.03);*/
/*}*/

tr {
    -webkit-transition: all 0.16s;
    -moz-transition: all 0.16s;
    transition: all 0.16s;
}

.clickable-row:hover, .clickable-med-row:hover, .clickable-treat-row:hover {
    background-color: rgba(19, 103, 255, 0.29);
}

.selected-table-row {
    background-color: rgba(19, 103, 255, 0.66);
}

.selected-table-row:hover {
    background-color: rgba(0, 204, 255, 0.66);
}

.no-med {
    background-color: rgb(255, 223, 220);
}

.no-med:hover {
    background-color: rgb(255, 140, 132);
}

.row-green {
    background-color: #DCFFDF;
}

.row-green:hover {
    background-color: #BFF2C4;
}

.selected-table-row-danger {
    background-color: rgb(255, 185, 185);
}

.crud-btns {
    margin-left: 10px;
    margin-bottom: 20px;
}

.align-rule th {
    text-align: center;
}

.align-rule {
    background-color: rgba(0, 209, 253, 0.2);
}
.panel-default {
    padding: 0;
}
.panel-default > .panel-body {
    padding: 15px;
    margin: 0 20px;
}
button#get-pdf-btn{
    float: right;
    margin-right: 25px;
}
.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;
}
.row-search {
    margin-left: -5px;
}
#upload-preview {
    max-width: 400px;
    max-height: 400px;
}
.gallery-bg {
    max-width: 100%;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.gallery-img {
    max-width: 100%;
    margin-bottom: 15px;
}
.gallery-delete:hover {
    cursor: pointer;
}
input#file {
    height: auto;
}
.lb-nav a {
    margin: 0;
}
h2#calving-year {
    font-size: 25px;
    margin: 15px;
    padding: 15px;
    color: white;
    text-align: center;
}
#created-med {
    display: none;
}
#created-med h2 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding-bottom: 15px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width: 768px) {
    .crud-btns button {
        margin-bottom: 15px;
    }
}